.App main {
  margin-left: 50px;
}

.new-transaction form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.new-transaction form > * {
  margin: 5px;
}
.new-transaction form label {
  font-weight: 600;
}
.new-transaction form input {
  height: 35px;
}

.table {
  color: dimgray;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* tbody tr:nth-child(even) {
  background: #f4eafd;
} */

button.back {
  font-size: large;
  color: dimgray;
  border-radius: 2px;
}
